<nav class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link"
                aria-expanded="false">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Abrasives
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="abrasives-link">
                <a href="{% url 'products' %}?category=abrasives" class="dropdown-item">Abrasives</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Auto Care
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="auto-care-link">
                <a href="{% url 'products' %}?category=body-fillers" class="dropdown-item">Body Fillers</a>
                <a href="{% url 'products' %}?category=clear_coats" class="dropdown-item">Clear Coats</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}"
                aria-expanded="false">
                About
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact_us' %}"
                aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</nav>